<html>
<body>
Personal Info : $!{name} <br/>
Address : $!{address}
<br/>
<table>
    #set($idx = 1)
    #foreach($data in $list)
        <tr><td>${idx}.</td><td>$data</td></tr>
        #set($idx = $idx + 1)
    #end
</table>
</body>
</html>